.bgAdd{
    background-image: url("./img/bg.png");
    background-size: cover;
}

.myShodow{
    box-shadow: rgba(0, 0, 0, 0.415) 0 0 20px 5px;
}
.myBgDiv{
    background-image: url("./img/bg1.png");
    background-size: cover;
}

.prodoctsImag{
    mix-blend-mode: color-burn;
}